<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">

	<div class="oR-header-container">
		<h3>Organizations Report</h3>

		<div class="oR-header-filter">
			<form id="filterForm" th:action="@{/report/organizations}">
				<label for="timePeriod">Hiển thị theo:</label> <select
					name="timePeriod" id="timePeriod">
					<option value="today" th:selected="${period == 'today'}">Hôm
						nay</option>
					<option value="this_week" th:selected="${period == 'this_week'}">Tuần
						này</option>
					<option value="this_month" th:selected="${period == 'this_month'}">Tháng
						này</option>
					<option value="this_year" th:selected="${period == 'this_year'}">Năm
						này</option>
				</select>

				<button type="submit" class="oR-button" id="filterButton">Lọc</button>
			</form>
		</div>
	</div>

	<table class="oR-table">
		<thead>
			<tr>
				<th>Logo</th>
				<th>Website</th>
				<th>Organization Name</th>
				<th>Detail</th>
				<th>Location</th>
				<th>Created Date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="org : ${organizations}">
				<td><img th:src="@{/images/{logoId}(logoId=${org.logoID})}"
					alt="Logo" class="img-responsive"></td>
				<td><a th:href="${org.website}" th:text="${org.website}"
					target="_blank"></a></td>
				<td th:text="${org.title}"></td>
				<td th:text="${org.detail}"></td>
				<td th:text="${org.location}"></td>
				<td th:text="${org.createdDate}"></td>
			</tr>
		</tbody>
	</table>

	<nav aria-label="Page navigation" class="mt-5" th:if="${totalPages > 0}">
		<ul class="pagination justify-content-center">
			<!-- Previous button -->
			<li class="page-item"
				th:classappend="${currentPage == 0} ? 'disabled'"><a
				class="page-link"
				th:href="${currentPage > 0} ? @{/report/organizations(timePeriod=${period}, page=${currentPage - 1})} : '#'"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
			</a></li>

			<!-- Page numbers -->
			<li class="page-item"
				th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
				th:classappend="${pageNum == currentPage} ? 'active'"><a
				class="page-link"
				th:href="@{/report/organizations(timePeriod=${period}, page=${pageNum})}"
				th:text="${pageNum + 1}"></a></li>

			<!-- Next button -->
			<li class="page-item"
				th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
				<a class="page-link"
				th:href="${currentPage < totalPages - 1} ? @{/report/organizations(timePeriod=${period}, page=${currentPage + 1})} : '#'"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
	</nav>


</div>