 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #e6f7f0;
        }
        .container {
        	padding-top: 50px;
            max-width: 1000px;
            margin: 0 auto;
            padding-top: 80px;
        }
        h1 {
            color: #00a86b;
            text-align: center;
            margin-bottom: 10px;
            font-size: 24px;
        }
        .subtitle {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
            font-size: 14px;
        }
        .search-form {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 5px;
            border-radius: 50px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }
        input, select, button {
            border: none;
            outline: none;
            font-size: 14px;
            background-color: transparent;
        }
        input[type="text"] {
            flex-grow: 1;
            padding: 12px 15px;
        }
        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23888' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 0 0 .293 4.707l5 5a1 1 0 0 0 1.414 0l5-5a1 1 0 1 0-1.414-1.414z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 15px center;
            padding: 12px 35px 12px 15px;
            border-left: 1px solid #e0e0e0;
            cursor: pointer;
            transition: background-color 0.3s;
            height: 50px; /* Tăng chiều cao của select */
        }
        select:hover {
            background-color: #f5f5f5;
        }
        button {
            background-color: #28a745;
            color: white;
            border: none;
            cursor: pointer;
            padding: 12px 25px;
            border-radius: 50px;
            margin-left: 10px;
            transition: background-color 0.3s;
        }
        button:hover {
            background-color: #008c59;
        }
        /* Custom styling for select options */
        select option {
			padding: 15px; /* Tăng padding để làm cho các tùy chọn dài hơn */
            background-color: white;
            height: 40px;
            color: #333;
        }
        select option:hover {
            background-color: #f0f0f0;
        }
 
     