<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>The generated source code Web Application for Sakai</title>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/resources/detailJob/detailJob.css}" />
<link rel="stylesheet" th:href="@{/resources/home/header.css}" />
<link rel="stylesheet" th:href="@{/resources/searchCondition/style.css}" />
<link rel="stylesheet" th:href="@{/resources/home/style.css}" />
</head>
<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<div class="container">
		<div th:replace="~{fragments/searchCondition :: search}"></div>
		<div class="job-detail">
			<h1 th:text="${jobRequest.title}"></h1>
			<h2>
				Địa điểm: <span th:text="location"></span>
			</h2>
			<p>
				Thu nhập: <span th:text="${jobRequest.salary}"></span>
			</p>

			<h2>Mô tả công việc:</h2>
			<p th:text="description"></p>

<!-- 			<h2>Yêu cầu:</h2> -->
<!-- 			<ul> -->
<!-- 				<li th:each="requirement : ${jobRequest.requirements}" -->
<!-- 					th:text="${requirement}"></li> -->
<!-- 			</ul> -->
			<a href="/jobrequests" class="apply-button">Apply</a>
		</div>

		<div class="company-detail">
			<h2>Thông tin công ty</h2>

			<div class="company-info">
				<h3>Logo Công Ty</h3>
<!-- 				<img th:src="${company.logoUrl}" alt="Logo" -->
<!-- 					style="max-width: 100%; height: auto;" /> -->
				<p>
					<strong>Tên Công Ty:</strong> <span th:text="company.name}"></span>
				</p>
				<p>
					<strong>Quy mô:</strong> <span th:text="company.size}"></span>
				</p>
				<p>
					<strong>Lĩnh vực:</strong> <span th:text="company.industry}"></span>
				</p>
				<p>
					<strong>Địa điểm:</strong> <span th:text="company.address}"></span>
				</p>
			</div>

			<div class="general-info">
				<h3>Thông tin chung</h3>
				<p>
					<strong>Cấp bậc:</strong> <span th:text="jobRequest.level}"></span>
				</p>
				<p>
					<strong>Kinh nghiệm:</strong> <span
						th:text="${jobRequest.experience}"></span>
				</p>
				<p>
					<strong>Số lượng tuyển:</strong> <span
						th:text="jobRequest.quantity}"></span>
				</p>
			</div>
		</div>
	</div>

</body>
</html>