<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Doanh Nghiệp</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Danh Sách Doanh Nghiệp</h1>
        
        <!-- Table -->
        <table id="businessTable" class="display table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Tên Doanh Nghiệp</th>
                    <th>Website</th>
                    <th>Địa Chỉ</th>
                    <th>Chi Tiết</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="organization : ${organizations}">
                    <td th:text="${organization.title}"></td>
                    <td th:text="${organization.website}"></td>
                    <td th:text="${organization.location}"></td>
                    <!-- Cập nhật liên kết để hiển thị tin tuyển dụng của doanh nghiệp -->
                    <td>
                        <a th:href="@{'/organization/' + ${organization.id} + '/jobs?id=' + ${organization.id}}" th:text="'Xem Tin Tuyển Dụng'">Xem Tin Tuyển Dụng</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            $('#businessTable').DataTable();
        });
    </script>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
