<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/resources/home/style.css}" />
</head>
<body>
	<header>
		<nav class="navbar" th:fragment="header">
			<div class="logo">CVHub</div>
			<ul class="nav-links">
				<li><a href="#">Việc làm</a></li>
				<li><a href="#">Công ty</a></li>
				<li><a th:href="@{uploadCV}">Tạo CV</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<div class="auth-buttons">
				<button class="login">Đăng nhập</button>
				<button class="signup">Đăng ký</button>
			</div>
		</nav>
	</header>

</body>
</html>	