<html xmlns:th="http://www.thymeleaf.org">
<!-- Fragment: Horizontal menu -->
<ul class="navIntraTool actionToolbar">
  <li>  
      <span title="List jobs" th:class="${isSelectedHome != null && isSelectedHome ? 'current' : ''}">
        <a th:href="@{/job}">Job</a>
      </span>
  </li>
  <li>  
      <span title="List employee">
        <a th:href="@{/employee}">Employee</a>
      </span>
  </li>
  <li>  
      <span title="Resources" th:class="${isSelectedResources != null && isSelectedResources ? 'current' : ''}">
        <a th:href="@{/resources}">Employer</a>
      </span>
  </li>
  <li>
      <span title="Configuration" th:class="${isSelectedConfiguration != null && isSelectedConfiguration ? 'current' : ''}">
        <a th:href="@{/configuration}">Configuration</a>
      </span>
  </li>
<li class="dropdown">
  <span title="Report">
    <a id="report" class="nav-link dropdown-toggle" role="button" aria-expanded="false">Report</a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light">
      <li><a class="dropdown-item small" th:href="@{/main/report/candidate}">Candidate</a></li>
      <li><a class="dropdown-item small" th:href="@{/main/report/organization}">Organization</a></li>
    </ul>
  </span>
</li>
<li> 
     <span title="About">
       <a id="about" href="#">About</a>
     </span>
</li>
 
</ul>



 
      