<html xmlns:th="http://www.thymeleaf.org">
<!-- Fragment: Horizontal menu -->
<ul class="navIntraTool actionToolbar">
  <li>  
      <span title="List jobs" th:class="${isSelectedHome != null && isSelectedHome ? 'current' : ''}">
        <a th:href="@{/job}">Job</a>
      </span>
  </li>
  <li>  
      <span title="List employee">
        <a th:href="@{/employee}">Employee</a>
      </span>
  </li>
  <li>  
      <span title="Resources" th:class="${isSelectedResources != null && isSelectedResources ? 'current' : ''}">
        <a th:href="@{/resources}">Employer</a>
      </span>
  </li>
  <li>
      <span title="Configuration" th:class="${isSelectedConfiguration != null && isSelectedConfiguration ? 'current' : ''}">
        <a th:href="@{/configuration}">Configuration</a>
      </span>
  </li>
 <li class="nav-item dropdown">  
     <span title="Report" >
       <a id="report"  class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:href="@{/report}">Report</a>
     </span>
      <ul class="dropdown-menu">
         <li><a class="dropdown-item" th:href="@{/report/candidate}">Candidate</a></li>
         <li><a class="dropdown-item" th:href="@{/report/organiztion}">Organiztion</a></li>
     </ul>
 </li>
 <li> 
     <span title="About">
       <a id="about" href="#">About</a>
     </span>
 </li>
 
 
  <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
    Right-aligned but left aligned when large screen
  </button>
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
    <li><button class="dropdown-item" type="button">Action</button></li>
    <li><button class="dropdown-item" type="button">Another action</button></li>
    <li><button class="dropdown-item" type="button">Something else here</button></li>
  </ul>
	</div>
</ul>
