<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
	<div class="page-header">
		<h1>Reports</h1>
	</div>


	<div class="subtabs">
		<a th:href="@{/report/jobs}"
			th:classappend="${activeSubtab == 'jobs' ? 'active' : ''}">Jobs</a> <a
			th:href="@{/report/applicants}"
			th:classappend="${activeSubtab == 'applicants' ? 'active' : ''}">Applicants</a>
		<a th:href="@{/report/users}"
			th:classappend="${activeSubtab == 'users' ? 'active' : ''}">Users</a>
		<a th:href="@{/report/organizations}"
			th:classappend="${activeSubtab == 'organizations' ? 'active' : ''}">Organizations</a>
	</div>


	<div>
		<th:block th:if="${activeSubtab == 'jobs'}"
			th:include="fragments/reportSubtabs/jobReport :: content"></th:block>
		<th:block th:if="${activeSubtab == 'applicants'}"
			th:include="fragments/reportSubtabs/applicantReport :: content"></th:block>
		<th:block th:if="${activeSubtab == 'users'}"
			th:include="fragments/reportSubtabs/userReport :: content"></th:block>
		<th:block th:if="${activeSubtab == 'organizations'}"
			th:include="fragments/reportSubtabs/organizationReport :: content"></th:block>
	</div>

</div>
