<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/resources/searchCondition/style1.css}" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../../../resources/searchCondition/searchProvince.js"></script>
</head>

<body>
	<nav class="navbar" th:fragment="search">
		<div class="container">
			<h1>Tìm việc làm nhanh 24h, việc làm mới nhất trên toàn quốc.</h1>
			<p class="subtitle">Tiếp cận 40,000+ tin tuyển dụng việc làm mới ngày từ hàng nghìn doanh nghiệp uy tín tại
				Việt Nam</p>
			<nav class="navbar" th:fragment="searchCondition">
				<form class="search-form" action="searchUI" method="GET">
					<input type="text" name="keyword" placeholder="Software Developer" >
					<div class="select-wrapper">

						<select name="location" id="locationSelect">
							<option value="0">Tất cả tỉnh/thành phố</option>
							 <option th:each="location : ${locations}" 
                                    th:value="${location.code}" 
                                    th:text="${location.name}" 
                                    th:selected="${location.name == defaultLocation}"></option>
						</select>
					</div>

					<select name="industry" id="jobRoleSelect" >
						<option value="0">Tất cả ngành nghề</option>
				
						</option>
					</select>
				<button type="submit">Tìm kiếm</button>
				</form>
				<nav class="navbar" th:fragment="searchCondition">
		</div>
	</nav>
	
	<script type="text/javascript" th:src="@{/resources/searchCondition/searchProvince.js}"></script>
</body>

</html>